@import "../styles/base";
.areaChoose{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    flex-wrap: wrap;

    @include respond(small-tab){
        width: 80%;   
    }
    &__area{
        list-style: none;
        &>button:not(.areaChoose__area--active){
            background-color: transparent;
            &::before{
                content: '';
                background-color: transparent;
            }
        }
        & > button{
            // transition: .2s;

            @include capsuleBtn();
            padding-bottom: .5rem;

            background-color: #fff;
            &::before{
                // transition: .2s;

                content: '';
                height: .4rem;
                width: 1.3rem;
                border-radius: 2.5rem;
                background-color: $color-primary;
                position: absolute;
                bottom: .5rem;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
}
