@import "../styles/base";
@import "../styles/animation";
body{
    overflow-x: hidden;
}

.container{
    @include flexCenter();
    flex-direction: column;
    // max-width: 1440px;
    // overflow: hidden;
    max-width: 100%;
    // margin: 0 10rem;
    margin-bottom: 6.6rem;
    padding-top: 5.6rem;
    @include respond(phone){
        padding-top: 0;
    }
}

.city{
    max-width: 100%;
    // background-color: red;
    
    &__banner{
        height: 15rem;
        width: 100%;
        & >img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
        
    }
    &__cityChoose{
        text-align: center;
        background-color: $color-tertiary;
        width: 100%;
        
        @include respond(phone){
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #fff;
            // position: relative;
            // min-height: 70px; 
            
        }

    }
    &__cityCard{
        width: 100%;
        // @include flexCenter();
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        // width: 90rem;
        flex-wrap: wrap;
        transition: opacity .8s cubic-bezier(.21,.63,.01,.98), transform 1s cubic-bezier(.21,.63,.01,.98);
        border-radius: 0 0 1rem 1rem ;
        
        @include respond(phone){
            position: absolute;
            top: 20rem;
            z-index: 10;
            padding-top: 5rem;
            width: 80%;
            background-color: #F2F2F2;
            transform-origin: top;
            transform: scaleY(0);
            opacity: 0;
        }
        & > hr{
            width: 100%;
            height: 1px;
            // background-color: #DEDEDE;
            border:none;
            border-bottom: .1rem solid #DEDEDE;
            // height: 2px;
            padding-top: 2rem;
        }
        &-chooseCity{
            animation: backInRight 1.4s cubic-bezier(0.45, 0.08, 0.56, 1.3) ;
            margin-top: 3.8rem;
            margin-bottom: 6.2rem;
            display: flex;
            justify-content: center;
            @include respond(phone){
                margin: 3rem 0; 
                animation: none;
            }
        }
        &-select{
            position: relative;
            z-index: 12;
            display: flex;
            background-color: #F2F2F2;
            width: 80%;
            padding: 1.3rem;
            font-size: 1.4rem;
            vertical-align: middle;
            margin-top: 3.4rem;
            border-radius: 2.25rem;
            border: 1px solid #e6e6e6;
            & > div:first-child{
                // background-color: purple;
                padding-left: 2rem;
            }
            &__area{
                flex: 1;
                display: flex;

                & > span:first-child {
                    // display: inline-block;
                    margin-right: auto;
                    // margin-top: 20rem;
                    border-left: 1px solid #CCC;
                    padding-left: 2rem;

                }
                padding-left: 2rem;
            }
        }
    }
    &__attraction{
        :global{
            .swiper {
                overflow: visible;
            }
        }
        position: relative;
        // width: (29rem *4 + 2.5rem*3);
        // overflow: hidden;
        // &-cardOuter{
        //     margin: 0;
        // }
        &-text{
            padding-top: 2.5rem;
            padding-left: 2.5rem;
            & > span{
                font-size: 2.6rem;
                font-weight: 500;
                @include respond(phone){
                    font-size: 2.2rem;
                }
            }
            & > span:first-child{
                color: $color-primary;
                padding-right: 1.5rem;
            }
            
        }
        &-card{
            // box-sizing: border-box;
            // 自寫輪播start
            // display: grid;
            // gap: 2.5rem;
            // grid-template-columns: repeat(6,29rem); 
            // position: relative;
            // 自寫輪播end
            // padding: 20px;
            transition: transform 1s;
            // padding-bottom: 5.6rem;
            // @include respond(small-tab){
            //     grid-template-columns: repeat(12, 29rem);
            //     gap: 2.5rem;
            // }
            // @include respond(phone){
            //     grid-template-columns: repeat(12, 16.8rem);
            //     gap: 1rem;
            // }
            &--container{
                box-sizing: border-box;
                // overflow: hidden;
                scroll-behavior: smooth; /* 平滑滾動 */
                width: calc(29rem *4 + 2.5rem *3 + 3rem);  //126.5
                // border:  1px solid red;
                padding: 1.5rem;
                overflow: hidden;
                @include respond(mid-desktop){ //1300
                    width:calc( 29rem *3 + 2.5rem *2 + 3rem); //95         
                }
                @include respond(tab-port){ //1000       
                    width: calc(29rem *2 + 1.5rem *1 + 3rem); //63.5     
                }
                @include respond(small-tab){ //750
                    width: calc(25rem *2 + 1.5rem *1 + 3rem); 
                }
                @include respond(phone){ //750
                    width: calc(20rem *2 + 1.5rem *1 + 3rem); 
                }
                @include respond(small-phone){ //400
                    width: calc(18rem *2 + 1rem  + 3rem + 1rem); 
                    padding: 1.5rem 2rem;
                }
            }
        }
        &--pagination{
            width: 100px;
            text-align: center
        }
        &--btn{
            @include directionButton();
            z-index: 5;
            @include respond(small-tab){ //750
                display: none;   
            }
        }
        &--leftBtn{
            @include leftButton();
            left: (-7.2rem / 2);
            // top: 0;
            top: 50%;
            // top: 48%;
            // transform: scaleX(-1) translateY(-50%);
            transform: scaleX(-1);
            
        }
        &--rightBtn{
            @include rightButton();
            // right: (-7.2rem/2);
            right: (-7.2rem / 2);
            top: 48%;
        }
        &-cardState{
            display:flex;
            justify-content: center;
            // padding-top: 3rem;
            &--active{
                height: 8px;
                width: 30px;
                background-color: $color-primary;
                border-radius: 3.7rem;
            }
            & > span{
                // height: 8px;
                // width: 30px;
                // background-color: $color-primary;
                // border-radius: 3.7rem;
                &:not(.city__attraction-cardState--active){
                    width: 8px;
                    border-radius: 50%;
                    background-color: #CDCDCD;
                    margin: 0 .6rem;
                }
            }
        }
    }
    &__activity{
        // margin-top: 5.6rem;
        position: relative;
        // width: (29rem *4 + 2.5rem * 3);
        // margin: auto 17.5%;
        :global{
            .swiper {
                overflow: visible;
            }
        }
        &-text{
            // padding-bottom: 3rem;
            padding-top: 12rem;
            & > span{
                font-size: 2.6rem;
                font-weight: 500;        
            }
            & > span:first-child{
                color: $color-primary;
                padding-right: 1.5rem;
            }
        }
        &-card{
            // display: grid;
            // grid-template-columns: repeat(6,29rem); 
            // gap: 2.5rem;
            // position: relative;
            transition: transform 1s;
            // overflow-x: hidden;
            // scroll-behavior: smooth; 
            // margin-top: 3rem;
            // @include respond(phone){
            //     grid-template-columns: repeat(6, 16.8rem);
            //     gap: 1rem;
            // }
            &--container{
                overflow: hidden;
                // width: (29rem *4 + 2.5rem * 3 + 3rem);
                // border:  1px solid red;
                padding: 1.5rem;
                width: calc(29rem *4 + 2.5rem *3 + 3rem);  //126.5
                @include respond(mid-desktop){ //1300
                    width:calc( 29rem *3 + 2.5rem *2 + 3rem); //95         
                }
                @include respond(tab-port){ //1000       
                    width: calc(29rem *2 + 1.5rem *1 + 3rem); //63.5     
                }
                @include respond(small-tab){ //750
                    width: calc(25rem *2 + 1.5rem *1 + 3rem); 
                }
                @include respond(phone){ //750
                    width: calc(20rem *2 + 1.5rem *1 + 3rem); 
                }
                @include respond(small-phone){ //400
                    width: calc(18rem *2 + 1rem  + 3rem + 1rem); 
                    padding: 1.5rem 2rem;
                }
                // @include respond(mid-desktop){
                //     width: (29rem *2 + 2.5rem *1 + 5rem);         
                // }
                // @include respond(small-tab){
                //     width: (29rem + 5rem);         
                // }
                // @include respond(phone){
                //     width: (34.6rem + 5rem);     
                // }
            }
        }
        &--pagination{
            width: 100px;
            text-align: center
        }
        &--btn{
            @include directionButton();
            // @include respond(phone){
            //     width: 6rem;
            //     height: 6rem;
            // }
            @include respond(small-tab){ //750
                display: none;   
            }
        }
        &--leftBtn{
            @include leftButton();
            left: (-7.2rem/2);
            top: 50%;
            transform: scaleX(-1);
            @include respond(small-phone){
                left: 0;
            }
        }
        &--rightBtn{
            @include rightButton();
            right: (-7.2rem/2);
            top: 50%;
            @include respond(small-phone){
                right: 0;
            }
        }
        &-cardState{
            display:flex;
            justify-content: center;
            // margin-bottom: 6.6rem;

            & > span{
                height: 8px;
                width: 30px;
                background-color: $color-primary;
                border-radius: 3.7rem;
                &:not(:first-child){
                    width: 8px;
                    border-radius: 50%;
                    background-color: #CDCDCD;
                    margin-left: .6rem;
                }
            }
        }
    }

    &__food{
        position: relative;
        &--outer{
            padding-top: 5.6rem;

            background-color: $color-tertiary;
            @include flexCenter();
            flex-direction: column;
            padding-bottom: 6.6rem;
            @include respond(phone){
                width: 100%;
            }
        }
        &-text{
            // padding-bottom: 3rem;
            // margin: auto 17.5%;
            // padding-top: 5.4rem;
            // margin-bottom: 3rem;
            padding-top: 2.5rem;
            // padding-left: 2.5rem;
            & > span{
                font-size: 2.6rem;
                font-weight: 500;
                @include respond(phone){
                    font-size: 2.2rem;
                }
            }
            & > span:first-child{
                color: $color-primary;
                padding-right: 1.5rem;
                
            }
        }
        &-card{
            // display: grid;
            // grid-template-columns: repeat(7,23.1rem); 
            // gap: 2rem;
            // position: relative;
            transition: transform 1s;

    
            // @include respond(phone){
            //     grid-template-columns: repeat(7, 16.8rem);
            //     gap: 1rem;
            //     // width: 100%;
            // }
            &--container{
                // overflow: hidden;
                // scroll-behavior: smooth; /* 平滑滾動 */
                
                width: (23.1rem * 5 + 1rem * 4 + 4rem);
                padding: 2rem ;
                // padding: 2rem 0;
                // transition: .5s;
                @include respond(mid-desktop){ ///1300 / 99.4
                    width: (23.1rem * 4 + 1rem * 3+ 4rem);         
                }
                @include respond(tab-port){ //1000 / 62.5      
                    width: (23.1rem * 3 + 1rem * 2+ 4rem);     //75.3  
                }
                @include respond(small-tab){ //750 
                    width: (25rem * 2 + 2rem * 1+ 4rem);     //75.3  
                }
                @include respond(phone){
                    width: (18rem * 2 + 1rem * 1+ 4rem);     //75.3  

                }
            }
            &>div{
                // height: 33.5rem;
                @include respond(phone){
                    // height: 16.8rem;    
                }
                &>img{
                    object-fit: cover;
                }
            }
        }
        &--pagination{
            width: 100px;
            text-align: center
        }
        &--btn{
            @include directionButton();
            @include respond(small-tab){ //1000 / 62.5      
                // width: (18rem * 3 + 1rem * 2+ 4rem);     //75.3  
                display: none;
            }
            // @include respond(phone){
            //     width: 6rem;
            //     height: 6rem;
            // }
        }
        &--leftBtn{
            @include leftButton();
            left: (-7.2rem / 2);
            // left: -5.6rem;
            top: 48%;
            // transform: scaleX(-1) translateY(-50%);
            transform: scaleX(-1);
            @include respond(tab-port){
                left: -1.8rem;
            }
        }
        &--rightBtn{
            @include rightButton();
            right: (-7.2rem / 2);
            // right: -5.6rem;
            top: 50%;
            @include respond(tab-port){
                right: -1.8rem;
            }
        }
        &-cardState{
            display:flex;
            justify-content: center;
            // padding-bottom: 6.6rem;
            // margin-top: 5.6rem;


            & > span{
                height: 8px;
                width: 30px;
                background-color: $color-primary;
                border-radius: 3.7rem;
                &:not(:first-child){
                    width: 8px;
                    border-radius: 50%;
                    background-color: #CDCDCD;
                    margin-left: .6rem;
                }
            }
        }
    }
    &__accommodation{
        position: relative;
        // width: (29rem *4 + 2.5rem * 3);
        :global{
            .swiper {
                overflow: visible;
            }
        }
        &-text{
            // padding-bottom: 3rem;
            // margin-bottom: 3rem;
            // padding-top: 5.4rem;
            // & > span{
            //     font-size: 2.6rem;
            //     font-weight: 500;
            
            // }
            // & > span:first-child{
            //     color: $color-primary;
            //     padding-right: 1.5rem;
                
            // }
        }
        &-card{
            // display: grid;
            // grid-template-columns: repeat(6,29rem); 
            // gap: 2.5rem;
            // position: relative;
       
            transition: 1s;
            // @include respond(phone){
            //     grid-template-columns: repeat(6, 16.8rem);
            //     gap: 1rem;
            // }
            &--container{
                overflow: hidden;
                scroll-behavior: smooth;
                padding: 1.5rem;
                // transition: 1s;
                width: calc(29rem *4 + 2.5rem *3 + 3rem);  //126.5
                @include respond(mid-desktop){ //1300
                    width:calc( 29rem *3 + 2.5rem *2 + 3rem); //95         
                }
                @include respond(tab-port){ //1000       
                    width: calc(29rem *2 + 1.5rem *1 + 3rem); //63.5     
                }
                @include respond(small-tab){ //750
                    width: calc(25rem *2 + 1.5rem *1 + 3rem); 
                }
                @include respond(phone){ //750
                    width: calc(20rem *2 + 1.5rem *1 + 3rem); 
                }
                @include respond(small-phone){ //400
                    width: calc(18rem *2 + 1rem  + 3rem + 1rem); 
                    padding: 1.5rem 2rem;
                }
            
            }
        }
        &--pagination{
            width: 100px;
            text-align: center
        }
        &--btn{
            @include directionButton();
            @include respond(small-tab){ //750
                display: none;   
            }
        }
        &--leftBtn{
            @include leftButton();
            left: (-7.2rem/2);
            top: 48%;
            transform: scaleX(-1); 
            @include respond(small-phone){
                left: 0;
            }
        }
        &--rightBtn{
            @include rightButton();
            right: (-7.2rem/2);
            top: 48%;
            @include respond(small-phone){
                right: 0;
            }
        }
        &-cardState{
            display:flex;
            justify-content: center;
            // margin-top: 5.6rem;

            & > span{
                height: 8px;
                width: 30px;
                background-color: $color-primary;
                border-radius: 3.7rem;
                &:not(:first-child){
                    width: 8px;
                    border-radius: 50%;
                    background-color: #CDCDCD;
                    margin-left: .6rem;
                }
            }
        }
    }
}
