@import "../styles/base";
main{
    // margin: 0 7%;
    // width: 100%;
    // max-width: 1440px;
    // background-color: rebeccapurple;
}
.food_noResult{
    margin-left: 20rem;
    @include respond(small-tab){
        margin-left: 0;


    }
}
.banner{
    background: url('../../public/img/banner_home.jpg') no-repeat center;
    background-size: cover;
    color: #fff;
    font-size: 1.5rem;
    @include flexCenter;
    flex-direction: column;
    width: 100%;

    // display: flex;
    // justify-content: center;
    // align-items: center;
    // @include respond(phone){
    //     margin: auto;
    // }

    &__main-text{
        font-size: 4rem;
        font-weight: 700;
        margin-top: 14.9rem;
        margin-bottom: .4rem;
        @include respond(phone){
            // align-self: flex-start;
        }
    }
    &__sub-text{
        margin-bottom: 5.3rem;
    }
    &__search{
        width: 60%;
        position: relative;
        margin-bottom: 15.4rem;
        @include respond(phone){
            width: 80%;
        }
        &-input{
            width: 100%;
            border: 6px solid #f0f0f0;
            outline: none;
            padding: 1rem ;
            padding-left: 1.5rem;
            border-radius: 3.4rem;
        }
        &-icon{
            padding-right: .5rem;
        }
        &-btn{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: .6rem;
            color: #fff;
            background-image:$right-bottom-gradient;
            border: none;
            padding: 1rem 2rem;
            border-radius: 2rem;
            cursor: pointer;
        }
    }
}

.cityChoose{
    position: relative;
    padding-top: 9.2rem;
    height: 32.9rem;
    margin-bottom: 15.8rem;
    // @include flexCenter();
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @include respond(mid-desktop){
        flex-direction: column;
        justify-content: flex-start;
    }
    @include respond(tab-port){
        // width: 80%;
        flex: 0 0 100%;
        padding-top: 4rem;

    }
    &__cityCard{
        // margin-left: 200px;
        display: flex;
        // width: 80%;
        flex: 0 0 70%;
        @include respond(mid-desktop){
            // width: 80%;
            // flex: 0 0 45%;


        }
        @include respond(tab-port){
            // width: 80%;
            flex: 0 0 100%;
            justify-content: center;


        }
    }
    
    &__text{
        // justify-content: center;
        // text-align: center;
        flex: 0 0 15%;
        // flex: 0 0 10.42%;
        // margin-right: 8.33%;
        z-index: 2;
        @include respond(mid-desktop){
            // width: 80%;
            flex: 0 0 20%;
            text-align: center;
        }
     
        &-sub{
           
            margin-bottom: 2.5rem;
        }
    }
    &::after{
        content: '';
        background-color: $color-tertiary;
        width: 81%;
        height: 32.9rem;
        border-bottom-right-radius: 13.6rem;
        position: absolute;
        top: 0;
        left: 0;
        @include respond(small-tab){
            // position: static;
            width:100%;
            height: 52rem;
            background-color: $color-tertiary;
            border-bottom-right-radius: 0rem;

        }
    }
    &::before{
        content: '';
        background: $right-bottom-gradient;
        // width: 13.4%;
        width: 10.6%;
        height: 13.26vw;
        border-radius: 50%;
        position: absolute;
        bottom: 0;
        z-index: 1;
        // left: -6.7%;
        left: -5.3%;
        transform: translate(0%, 50%); 
        @include respond(small-tab){
            display: none;
        }
    }
    &__icon{
        width: 10%;
        filter:invert(.88) opacity(.9);
        position: absolute;
        z-index: 2;
        bottom: 2.5%;
        left: 1.4%;
        @include respond(small-tab){
            display: none;
        }
    }
    
    &__decoration{
        background: $right-bottom-gradient;
    }
}

.activity{
    // scroll-margin-top:8rem; 

    // &__outer{
    //     transform: translateY(30rem);
    //     transition: 1.5s;
    //     opacity: 0;
    //     &--show{
    //         transform: translateY(0rem);
    //         opacity: 1;
    //     }
    // }
    @include flexCenter;

    @include respond(mid-desktop){
        flex-direction: column;
        // justify-content: flex-start;
        // order: 2;
    }
    &__card{
        display: grid;
        grid-template-columns: repeat(3,29rem);
        gap:3rem;
        justify-content: center;
        margin-bottom: 3rem;
        @include respond(tab-land){
            gap: 1.6rem;
        }
        @include respond(tab-port){
            grid-template-columns: repeat(2,25rem);
        }
        @include respond(phone){
            grid-template-columns: repeat(2,20rem);
        }
    }
    &__text{
        margin-left: 5.5rem;
        @include respond(mid-desktop){
            order: -1;
            text-align: center;
            margin-left: 0;

        }
        @include respond(small-tab){
           margin-top: 10rem;
        }
    }
    &__btn{
        @include moretButton();
        position: relative;
        padding-left: 1.5rem;
        &::before{
            @include moretButtonBefore();
        }
        &::after{
            @include moretButtonAfter();
        }
    }

}
:global {
    .swiper-pagination-bullet.swiper-pagination-bullet-active {
        background: $color-primary;
        height: 8px;
        width: 30px;
        border-radius: 3rem;
        transition: width .5s;
        transform-origin:left;
        
    }
    
}
.tasty{
   
    // scroll-padding-top:100px; 

    position: relative;
    display: flex;
    height: 48.4rem; 
    // flex-direction: column;
    align-items: center;
    justify-content: center;
    // max-width: 1800;
    width: 100vw;
    @include respond(small-tab){
        flex-direction: column;
        align-items: center;
        // height: 53rem; 
        height: 100%;

        justify-content: space-evenly;
        // order: 2;
    }
   
   
    &__pagination{
        display: block;
        margin: 20px 0;
        @include respond(small-tab){
            // display: none;
            text-align: center;
            margin: 0;
            position: absolute;
            bottom: -26rem !important;  // 強制覆蓋預設樣式
        }
    }
    &__text{
        flex-shrink: 0;      
        flex-grow: 0;  
        display: flex;
        margin-right: 6%;
        &-inner{
            width: 23rem;
            @include respond(small-tab){
                position: relative;
            }
        }
        @include respond(tab-land){
            margin-right: 4%;
        }
        @include respond(tab-port){
            // margin: 0 8rem;
        }
        @include respond(small-tab){
            margin: 0;
            text-align: center;
        }
    }
    &::after{
        content: '';
        display: block;
        // background-color: red;
        background-color: $color-tertiary;
        width: 51%;
        height: 48.4rem;
        border-radius: 0 24.2rem 24.2rem 0;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
    &__outer{
        margin-top: 14rem;
        overflow: hidden;
        @include respond(phone){
            margin-top: 5rem;  
        }
    }
    &__btn{
        @include moretButton();
        position: relative;
        padding-left: 1.5rem;
        @include respond(small-tab){
            margin: 5rem;
            align-self: center;
        }
        &::before{
            @include moretButtonBefore();
            width: 3rem;
        }
        &::after{
            @include moretButtonAfter();
        }
    }
    &__foodCard{
        &-container{
            flex:1;
            display: flex;
            align-items: center;
            max-width: (23.1rem *4 + 2rem *3 );
            position: relative;
      

            width: 100%;
            @include respond(mid-desktop){
                max-width: (23.1rem *3 + 2rem *2 );
            }
            @include respond(tab-land){
                max-width: (23.1rem *3 + 2rem *2 );
            }
            @include respond(tab-port){
                max-width: (23.1rem *2 + 2rem );
            }
            @include respond(small-tab){
                max-width: (23.1rem *2 + 2rem *1 );
            }
            @include respond(phone){
                max-width: (20rem *2 + 1rem);
            }
        
            &--wrap{
                width: 100%;
            }
        }
        &-item{
            display: flex;
            gap: 2rem
        }
      
        &--btn{
            @include directionButton();
            @include respond(small-tab){
                display: none  
            }
          
        }
        &--leftBtn{
            @include leftButton();
            left: (-7.2rem /2);
            top: 6rem;
            z-index: 2;
            @include respond(tab-port){
                // left: 26rem;
            }
           
        }
        &--rightBtn{
            @include rightButton();
            right: (-7.2rem /2);
            // right: 8.5rem;
            bottom: 6rem;
            
        }
    }
}
.accommodation{
    // scroll-padding-top:-10rem; 

    margin-top: 12.7rem;
    @include flexCenter();
    flex-direction: column;
    position: relative;
    overflow: hidden;
    @include respond(phone){
        margin-top: 5rem;  
    }
    &::after{
        content: '';
        height: 72.8rem;
        width: 100%;
        background-color: $color-tertiary;
        border-radius: 40%;
        position: absolute;
        top: 34rem;
        z-index: -1;
    }
    
    &__card{
        display: grid;
        grid-template-columns: repeat(4,29rem);
        gap: 3rem;
        & > div:nth-child(even){
            transform: translateY(3rem);
        }
        @include respond(tab-land){
            gap: 1.6rem;
        }
        @include respond(mid-desktop){
            grid-template-columns: repeat(2,29rem);
          
            & > div:nth-child(even){
                transform: translateY(0);
            }
        }
        @include respond(tab-port){
            grid-template-columns: repeat(2,25rem);
        }
        @include respond(phone){
            grid-template-columns: repeat(2,20rem);
        }
    }
    &__text{
        text-align: center
    }
    &__btn{
        @include moretButton();
        margin-bottom: 6.8rem;
        margin-top: 9.8rem;
        position: relative;
        padding-left: 1.5rem;
        @include respond(small-tab){
            margin-top: 3.4rem;


        }
        &::before{
            @include moretButtonBefore();
            width: 3rem;
        }
        &::after{
            @include moretButtonAfter();
        }
    }
}