@import "../../styles/base";
@import "../../styles/animation";
.areaCard{
    animation: slideUp 1s ease-in-out backwards var(--delay);
    // transform: translateY(0rem);
        
    position: relative;
    width: 12.3rem;
    height: 15.1rem;
    border-radius: 1.5rem;
    flex:0 0 12.3rem;
    // border: 1px solid #888;
    @include flexCenter;
    flex-direction: column;
    z-index: 1;
    box-shadow: 0 .4rem 4rem rgba(0, 0, 0,.12);
    background-color: #fff;
    border: none;
    cursor: pointer;
    @include respond(phone){
        // background-color: transparent;
    }
    &--active{
        & > span{
            color: $color-primary;
        }
        
        color: #fff;
    }
    &-capsule{
        list-style: none;
        & > button:not(.areaCard--active){
            color: #000;
            
            background-color: transparent;
            &::before{
                content: '';
                background-color: transparent;

            }
        }
        & > button{
            @include capsuleBtn();
            padding-bottom: 0rem;
            background-color: #10CC9F;
        
        }
    }
    &__outer{
        display: grid;
        gap: 3.5rem;
        grid-template-columns: repeat(5,1fr);

        @include respond(tab-port){
            gap: 2rem;

        }
        @include respond(small-tab){
            gap: 3rem;
            grid-template-columns: repeat(3,1fr);
        }
        @include respond(phone){
            gap: 1rem;
        }

    }
    
    &__circle{
        width: 76px;
        height: 76px;
        justify-content: center;
        align-items: center;

        border-radius: 50%;
        background-image:linear-gradient(to right bottom,$color-gradient-1,$color-gradient-2);
        @include flexCenter;
        // margin-bottom: .876rem;
        
    }
    &__icon{
        filter:invert(.99);
        width: 65%;
        // width: 20px;
        display: block;
    }
    & > span{
        padding-top: .9rem;
        font-size: 1.6rem;
        font-weight: 500;
    }
    
}
