@import "../../styles/base";
.cityCard{
    
    position: relative;
    width: 12.3rem;
    height: 15.1rem;
    border-radius: 1.5rem;
    flex:0 0 12.3rem;
    // border: 1px solid #888;
    @include flexCenter;
    flex-direction: column;
    z-index: 1;
    box-shadow: 0 .4rem 4rem rgba(0, 0, 0,.12);
    background-color: #fff;
    border: none;
    cursor: pointer;

    &--active{
        & > span{
            color: $color-primary;
        }
    }
 
    &__outer{
        display: flex;
        gap: 3.5rem;
        flex-wrap: wrap;
        justify-content: center;
        // flex: 0;     
        width: 100%;   
        @include respond(tab-port){
            width: 65%;   

        }
        @include respond(small-tab){
            width: 80%;   
        }

    }
    
    &__circle{
        width: 76px;
        height: 76px;
        justify-content: center;
        align-items: center;

        border-radius: 50%;
        background-image:linear-gradient(to right bottom,$color-gradient-1,$color-gradient-2);
        @include flexCenter;
        // margin-bottom: .876rem;
    }
    &__icon{
        filter:invert(.99);
        width: 65%;
        // width: 20px;
        display: block;
    }
    & > span{
        padding-top: .9rem;
        font-size: 1.6rem;
        font-weight: 500;
    }
    
}
